.chart {
    min-height: 100vh;
    background-image: url(https://images.hola.com/imagenes/cocina/recetas/20220208204252/pizza-pepperoni-mozzarella/1-48-890/pepperoni-pizza-abob-t.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 14px;
  
    &__container {
      width: 100%;
      max-width: 480px;
      margin: 50px auto 30px;
      display: grid;
      justify-content: center;
      row-gap: 30px;
    }
  
    &__btn {
      display: block;
      width: 150px;
      padding: 4px 10px;
      background-color: black;
      color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 15px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 10px;
      transition: background-color 400ms ease;
  
      &:hover {
        background-color: white;
        color: black;
      }
    }
  
    .product {
      padding: 24px 20px;
      background-color: #cccccce4;
      color: black;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
  
      &__img {
        display: block;
        object-fit: cover;
      }
  
      &-content {
        display: grid;
        row-gap: 30px;
  
        &__title {
          font-size: 1.2rem;
          font-weight: bold;
        }
  
        &__details {
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          strong {
            display: block;
            font-weight: bold;
          }
        }
      }
    }
  
    .form {
      width: 100%;
      padding: 28px 22px;
      background-color: rgba(0.5, 0.5, 0.5, 0.7);
      margin: auto;
      color: white;
      display: grid;
      row-gap: 20px;
      border-radius: 10px;
  
      &__title {
        font-size: 1.1rem;
      }
  
      &-content {
        display: grid;
        row-gap: 18px;
        margin-bottom: 20px;
  
        .input-container {
          &__label {
            display: block;
            margin-bottom: 5px;
          }
  
          &__input {
            padding: 10px 8px;
            width: 100%;
            border-radius: 3px;
            border: none;
  
            &-error {
              border: 1px solid rgb(182, 5, 5);
  
              &::placeholder {
                color: rgb(182, 5, 5);
              }
            }
          }
        }
  
        &__double {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          align-items: center;
        }
      }
  
      &-btn {
        width: 200px;
        margin: auto;
        border: none;
        padding: 10px;
        border-radius: 3px;
        background-color: rgb(59 123 20);
        color: white;
        font-weight: bold;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 400ms ease;
  
        &:hover {
          color: rgb(59 123 20);
          background-color: white;
        }
      }
    }
  }
  