.home {
    background-image: url(https://images.hola.com/imagenes/cocina/recetas/20220208204252/pizza-pepperoni-mozzarella/1-48-890/pepperoni-pizza-abob-t.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;

    &__login {
        color: white;
        background-color: rgba(0.5, 0.5, 0.5, 0.7);
        height: 550px;
        width: 380px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 20px;

        & figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & img {
                height: 100px;
            }
        }

        & h3 {
            width: 100%;
        }

        & form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            text-align: center;

            & label {
                display: flex;
                align-items: center;
                gap: 10px;
                border-bottom: 1px solid gray;
                height: 30px;

                & input {
                    color: white;
                    height: 100%;
                    border: none;
                    background-color: transparent;
                    outline: none;

                    &::placeholder {
                        color: white;
                    }
                }

                & img {
                    display: flex;
                    justify-content: center;
                    width: 25px;
                }
            }
            & strong {
                cursor: pointer;
                
                &:hover {
                    scale: 1.2;
                    transition: scale .8s;
                }
            }

        }

        &__btn {
            height: 40px;
            border: none;
            text-decoration: none;
            border-radius: 8px;
            cursor: pointer;
           
            
            &:hover {
                background-color: black;
                color: white;
            }
            
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            justify-content: center;
            align-items: center;

            & small {
                font-size: 12px;
            }

            &__link{
                text-decoration: none;
                color: white;
                font-weight: bold;
                font-size: 17px;
            }
        }


    }
}